
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <p class="{{ label }}">
            {{ flash }}
        </p>
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
     {{ form_errors(form) }}

    <div>
        {{ form_label(form.firstName, 'Imię') }}
        {{ form_widget(form.firstName) }}
    </div>

    <div>
        {{ form_label(form.lastName, 'Nazwisko') }}
        {{ form_widget(form.lastName) }}
    </div>

    <div>
        {{ form_label(form.pesel, 'Pesel') }}
        {{ form_widget(form.pesel) }}
    </div>

    <div>
        {{ form_label(form.dateBirth, 'Data urodzenia') }}
        {{ form_widget(form.dateBirth) }}
    </div>

    <div>
        <h3>Clinics</h3>
        <ul class="clinics" data-prototype="{{ form_widget(form.clinics.vars.prototype)|e }}">
            {% for clinic in form.clinics %}
                <li>{{ form_row(clinic.name) }}</li>
            {% endfor %}
        </ul>
    </div>

    <input type="submit" value="Dodaj" />
{{ form_end(form) }}

