{% extends "MateuszMedicalBundle::layout.html.twig" %}

{% block title "MateuszMedicalBundle" %}


{% block content %}

    {{ form_start(form) }}
         {{ form_errors(form) }}

        <div>
            {{ form_label(form.name, 'Nazwa kliniki') }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            <h3>Pacjenci</h3>
            <ul class="patients" data-prototype="{{ form_widget(form.patients.vars.prototype)|e }}">
                {% for patient in form.patients %}
                    <li>
                        <div>
                            {{ form_label(patient.firstName, 'Imię') }}
                            {{ form_widget(patient.firstName) }}
                        </div>

                        <div>
                            {{ form_label(patient.lastName, 'Nazwisko') }}
                            {{ form_widget(patient.lastName) }}
                        </div>

                        <div>
                            {{ form_label(patient.pesel, 'Pesel') }}
                            {{ form_widget(patient.pesel) }}
                        </div>

                        <div>
                            {{ form_label(patient.dateBirth, 'Data urodzenia') }}
                            {{ form_widget(patient.dateBirth) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <input type="submit" value="Zapisz" />
    {{ form_end(form) }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    {% javascripts 'bundles/mateuszmedical/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}