{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <p class="{{ label }}">
            {{ flash }}
        </p>
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
     {{ form_errors(form) }}

    <div>
        {{ form_label(form.name, 'Nazwa kliniki') }}
        {{ form_widget(form.name) }}
    </div>

    <input type="submit" value="Dodaj" />
{{ form_end(form) }}